---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{     <h1>

<a href="" class="typewrite" data-period="2000" data-type='[ ".با درود", ".سلامونه", "welcome.", "خوش آمدید" ]'>

<span class="wrap"></span>

</a>

</h1>

<style>

body {

background-color:#fff;

text-align: center;

color:black;

padding-top:10em;

}

* { color:black; text-decoration: none;}

</style>

<script>

var TxtType = function(el, toRotate, period) {

this.toRotate = toRotate;

this.el = el;

this.loopNum = 0;

this.period = parseInt(period, 10) || 2000;

this.txt = '';

this.tick();

this.isDeleting = false;

};

TxtType.prototype.tick = function() {

var i = this.loopNum % this.toRotate.length;

var fullTxt = this.toRotate[i];

if (this.isDeleting) {

this.txt = fullTxt.substring(0, this.txt.length - 1);

} else {

this.txt = fullTxt.substring(0, this.txt.length + 1);

}

this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

var that = this;

var delta = 200 - Math.random() * 100;

if (this.isDeleting) { delta /= 2; }

if (!this.isDeleting && this.txt === fullTxt) {

delta = this.period;

this.isDeleting = true;

} else if (this.isDeleting && this.txt === '') {

this.isDeleting = false;

this.loopNum++;

delta = 500;

}

setTimeout(function() {

that.tick();

}, delta);

};

window.onload = function() {

var elements = document.getElementsByClassName('typewrite');

for (var i=0; i<elements.length; i++) {

var toRotate = elements[i].getAttribute('data-type');

var period = elements[i].getAttribute('data-period');

if (toRotate) {

new TxtType(elements[i], JSON.parse(toRotate), period);

}

}

// INJECT CSS

var css = document.createElement("style");

css.type = "text/css";

css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";

document.body.appendChild(css);

};

</script>
 }}
        {% if page.show_call_box %}
          {% include call.html show_button=true %}
        {% endif %}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="{{ page.title }}" class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      {% assign limit = site.home.limit_services | default: 6 %}
      {% for service in site.services limit: limit %}
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
            </h2>
            <p>{{ service.content | markdownify | strip_html | truncate: 100 }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ "services" | relative_url }}">View All Projects & Services</a>
      </div>
    </div>
  </div>
</div>

{% if site.data.features %}
<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      {% for feature in site.data.features %}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          {% if feature.image %}
          <div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image.url | relative_url }}" width="{{ feature.image.width }}" height="{{ feature.image.height }}" /></div>
          {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</div>
{% endif %}
